@mixin contrast($background: color(neutral), $black: color(black), $white: color(white)) {
  background: $background;
  color: contrast($background, $black, $white);
}

@mixin size($width: 100%, $height: $width) {
	height: $height;
  width: $width;
}
