@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


/*
  font map by property
 */

$font: (
  family: (
    text: #{'Source Sans Pro', sans-serif},
    title: #{'PT Sans', sans-serif},
  ),

  size: (
    root: 10px,			  	/* = 1rem */
    small: 1.2rem,
    regular: 1.4rem,
    large: 1.6rem,
  ),

  weight: (
    thin: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    black: 900,
  ),
);


/*
  font map accessor function
 */

@function font($keys...) {
  $value: $font;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}


/*
  font map by element type
 */

$font: map-merge($font, (
  small: (
    size: 1.2rem,
  ),

  text: (
    family: font(family, text),
    line-height: (20/14),
    size: 1.4rem,
  ),

  title: (
    family: font(family, title),
    line-height: (20/18),
    weight: font(weight, medium),
  ),
));
